{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/main.js' %}"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1013078522871763',
      cookie     : true,
      xfbml      : true,
      version    : 'v12.0'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</head>
<body>
<a onclick="sendReq()">Login with google</a><br>
<a onclick="sendReqFacebook()">Login with facebook</a>
</body>
</html>